{% extends "base.html.twig" %}

{% block body %}
<div class="container text-center" style="margin-top:10em;">
<h2>Welcome on Job Boarder</h2>
<h5 class="my-4">Please click to <a href="{{ path('app_register') }}">register</a> or click <a href="{{ path('advertisement') }}">here</a> to continue</h5>
<a class="btn btn-outline-primary" href="{{ path('app_login') }}">Sign in</a>
</div>
{% endblock %}