{% extends "base.html.twig" %}

{% block body %}
<div class="container" style="margin-top: 10rem;">
<h2 class="text-center">Not user Apply list</h2>
{% if apply is not empty %}
<table id="table"
   data-search="true"
   data-show-search-clear-button="true"
   class="table table-sm table-hover table-striped text-center shadow-sm mt-3">
   <thead>
      <tr>
         <th>#</th>
         <th>Advertisement id</th>
         <th>User Email</th>
         <th>User city</th>
         <th>Update</th>
         <th>Delete</th>
      </tr>
   </thead>
   <tbody>
   {% for app in apply %}
      <tr>
         <td>{{ app.id }}</td>
         {% if app.advertisement is not empty %}
         <td>{{ app.advertisement.id }}</td>
         {% else %}
            <td></td>
         {% endif %}
         <td>{{ app.email }}</td>
         <td>{{ app.city }}</td>
         <td><a href=""><i class="bi bi-pencil-square text-success"></a></i></td>
         <td><a href=""><i class="bi bi-trash text-danger"></i></a></td>
      </tr>
   {% endfor %}
   </tbody>
</table>
{% else %}
<h2>No advertisement at the moment</h2>
{% endif %}
</div>
<script>
   $(function() {
      $('#table').bootstrapTable()
   })
</script>
{% endblock %}